@font-face {
    // font-family:"UniversNextW01-Regular";
    font-family:"Univers";
    font-weight: 500;
    src:url("../fonts/6a8ecc96-ca25-462d-b743-4d3a0a56488b.eot?#iefix");
    src:url("../fonts/6a8ecc96-ca25-462d-b743-4d3a0a56488b.eot?#iefix") format("eot"),url("../fonts/d9a4647f-eae6-4f43-9bea-905996bf7d4c.woff2") format("woff2"),url("../fonts/cb3c8591-6f6f-498c-b8e7-ee3a9d0a7547.woff") format("woff"),url("../fonts/65a9b4cb-e63b-452a-bea2-bd37cc2b10f6.ttf") format("truetype"),url("../fonts/a7a08b81-ee91-4e2b-b0ac-2a87a44e0eda.svg#a7a08b81-ee91-4e2b-b0ac-2a87a44e0eda") format("svg");
}

@font-face {
    // font-family:"UniversNW01-740XtdHeavy";
    font-family:"Univers";
    font-weight: 900;
    src:url("../fonts/08b42a26-859e-4e88-a2cc-9d3b8e2e291c.eot?#iefix");
    src:url("../fonts/08b42a26-859e-4e88-a2cc-9d3b8e2e291c.eot?#iefix") format("eot"),url("../fonts/30f33d69-9ddc-44a0-8f23-5905f6485bad.woff2") format("woff2"),url("../fonts/87a11da0-5c1e-4af5-96bb-6460ff0f7e0c.woff") format("woff"),url("../fonts/d82080b3-fbd5-44d9-acdc-9c42f1d89158.ttf") format("truetype"),url("../fonts/7a3d5d42-98a7-4c18-a11e-6d08d7819fb7.svg#7a3d5d42-98a7-4c18-a11e-6d08d7819fb7") format("svg");
}

body, button, input {
    font-family: "Univers", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    font-weight: 500;
}

body {
    transition: background .05s linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover, button:hover {
    border-bottom: .04em solid #fff;
}

.stroke {
    -webkit-text-stroke-width: .02em;
    -webkit-text-stroke-color: #fff;
}

.clear {
    clear: both;
}

.transparent {
    color: transparent;
}

.eyes {
    left: 50%;
    transform: translateX(-50%);
}

.ball {
    top: .125rem;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    width: 40%;
    transform-origin: bottom center;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%) translateX(-50%);
        opacity: 0;
    }
}

.viewport:before {
  content: "Viewport";
  display: inline-block;
  animation-name: viewport;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes viewport {
    0% {
        content:"Viewport";
    }
    12.5% {
        content:"Viewport";
    }
    25% {
        content:"Viewpor";
    }
    37.5% {
        content:"Viewpo";
    }
    50% {
        content:"Viewp";
    }
    62.5% {
        content:"View";
    }
    75% {
        content:"Vie";
    }
    87.5% {
        content:"Vi";
    }
    100% {
        content:"V";
    }
}

.bottom {
    right: 30px;
    bottom: 15px;
}

.bottom-right {
    right: 0;
    bottom: 30px;
    transform: rotate(-90deg);
}

.top {
    left: 15px;
    top: 15px;
}

.top-left {
    left: 10px;
    top: 36px;
    transform: rotate(-90deg);
}